extends layout

block content
    div.w3-card-4
        header.w3-container.w3-brown
            h2 Compositor Form
                
        form.w3-container(method="POST")
            fieldset
                legend Informação
                label ID
                input.w3-input.w3-round(type="text", name="id")
                label Nome
                input.w3-input.w3-round(type="text", name="nome")
                label Biografia
                textarea.w3-input.w3-round(name="bio")
                label Data de Nascimento
                input.w3-input.w3-round(type="date", name="dataNasc")
                label Data de Óbito
                input.w3-input.w3-round(type="date", name="dataObito")
                label Período
                select.w3-select.w3-round(name="periodo")
                    option(value="") Selecione uma opção
                    - for(let i = 0; i < lPeriodos.length; i++)
                        option(value=lPeriodos[i].nome)= lPeriodos[i].nome

                br
                button.w3-btn.w3-brown.w3-mb-2(type="submit") Registar

        footer.w3-container.w3-brown
            h5 Gerado por EngWeb2024 em #{d} - [
                a(href="/compositores") Voltar
                span ]
