extends layout

block content
  .w3-card-4
    header.w3-container.w3-brown
      h1
        span Índice

    div.w3-container
      ul
        li
          a(href="/compositores/") Lista de Compositores
        li
          a(href="/periodos/") Lista de Periodos
                            
    footer.w3-container.w3-brown
      h5 Gerado por EngWeb2024 em #{date}