extends layout

block content
    .w3-card-4
        header.w3-container.w3-brown
            h2 Editar Período
        
        form.w3-container(method="POST")
            fieldset
                legend Informação
                label ID
                input.w3-input.w3-round(type="text", name="id", readonly, value=periodo.id)
                label Nome
                input.w3-input.w3-round(type="text", name="nome", value=periodo.nome)
            
            br
            button.w3-btn.w3-brown.w3-mb-2(type="submit") Atualizar
        
        footer.w3-container.w3-brown
            h5 Gerado por EngWeb2024 em #{d} - [
                a(href="/periodos") Voltar
                span ]
